{% extends "base.html" %}

{% block title %}Account Activated{% endblock %}

{% block content %}
<center>
<p>
    Your account has been activated.
    {% if not user.is_authenticated %}
    You can now log in to the site.
    {% endif %}
</p>
</center>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
