{% extends "registration/registration_base.html" %}

{# {% block title %} Log In {% endblock %} #}

{% block content %}
<center>
<form method="post" action="">
    <table>
    {% csrf_token %}
    {% for item in form %}
    <tr>
        <td>{% if item.name == "username" %}
            {% for error in item.errors %}
            <font color="red">{{ error }}</font>
            {% endfor %}
            Username:
            {% else %}
            {% for error in item.errors %}
            <font color="red">{{ error }}</font>
            {% endfor %}
            Password:
            {% endif %}
        </td>
        <td>{{ item }}</td>
    </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Log In" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>Forgot your password? <a href="{% url 'auth_password_reset' %}">Reset your password</a>.</p>
<p>Not registered yet? <a href="{% url 'registration_register' %}">Register here</a>.</p>
</center>
{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
