{% extends "registration/registration_base.html" %}

{% block title %}Password Reset Link Sent{% endblock %}

{% block content %}
<center>
<p>
    A password reset link has been sent to the e-mail address you gave us. Please check your inbox.
</p>
</center>
{% endblock %}


{# This is used by django.contrib.auth #}
