{% extends "registration/registration_base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<center>
<p>
    Have you forgottem your password? Please enter the e-mail address associated with your account and we will send you a link to reset your password.
</p>
</center>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Reset My Password" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
