{% extends "registration/registration_base.html" %}

{% block title %}Password Changed{% endblock %}

{% block content %}
<center>
<p>You have successfully changed your password.</p>
</center>
{% endblock %}


{# This is used by django.contrib.auth #}
