{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<center>
<p>
    Your password has been reset.
    You can now log in here: <a href="{{ login_url }}">Log In</a>.
</p>
</center>
{% endblock %}


{# This is used by django.contrib.auth #}
