{% extends "registration/registration_base.html" %}

{% block title %}Activation E-Mail Sent{% endblock %}

{% block content %}
<center>
<p>Your account has been registered. You are logged in.</p>
</center>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
