{% extends "registration/registration_base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<center>

<ol>
    {% for error in form.errors %}
        {% if error == "__all__" %}
        <font color="red">Passwords do not match.</font>
        {% endif %}
    {% endfor %}
</ol>

<form method="post" action="">
    {% csrf_token %}


    <table>
    {% for item in form %}
    <tr>
        <td>
            {% if item.name == "username" %}
            {% for error in item.errors %}
            <font color="red">{{ error }}</font>
            {% endfor %}
            Username:
            {% elif item.name == "email" %}
            {% for error in item.errors %}
            <font color="red">{{ error }}</font>
            {% endfor %}
            E-mail Address:
            {% elif item.name == "password1" %}
            {% for error in item.errors %}
            <font color="red">{{ error }}</font>
            {% endfor %}
            Password:
            {% elif item.name == "password2" %}
            {% for error in item.errors %}
            <font color="red">{{ error }}</font>
            {% endfor %}
            Repeat Password:
            {% endif %}
        </td>
        <td>{{ item }}</td>
    </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Submit" />
</form>
</center>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
