{% extends "registration/registration_base.html" %}

{% block title %}Registration disabled{% endblock %}

{% block content %}
<center>
<p>Sorry, but the registration of new accounts is currently disabled.</p>
</center>
{% endblock %}
