@charset *utf-8*;

.item_table td, tr
{
    font-size: 13px;
    border: 1px solid gray;
    text-align: center;
}
.item_table th
{
    border: 1px solid gray;
    background-color: #F00000;
    color: white;
}

a {
    /* color:inherit; */
    text-decoration: none;
}

#tabelka td{
    text-align: center;
    height:70px;
    width:120px;
}

span.bg {
    background: white;
    border-radius: 1em;
    padding: 2px 0.5em;
}

body{
 	background-image: url('./images/background.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

div#banner{
    background-image: url('./images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;


}

div#welcome_header{
    background-color:#eee;
    box-shadow: 10px 10px 5px #888;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
}

div#reszta{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

div#post{
    background-color:#eee;
    box-shadow: 10px 10px 5px #888;
}

div#menu{
    margin-left: auto;
    margin-right: auto;
}

ul#menu_lista{
    position: fixed;
    list-style: none;
    /* right: 75%; */
    top: 50%;
    font-size: 15;
    width: 20%;
}

ul#menu_lista li a{
    text-align: center;
    display: block;
    padding: 0.5em;
    border-width: 1px;
    border-color: #ffe #aaab9c #ccc #fff;
    border-style: solid;
    color: #222;
    text-decoration: none;
    background: #eee;
}

ul#menu_lista li a:hover, ul#menu_lista li#active a:hover{
    color: white;
    background-color: #F00000;
    /* background: transparent; */
    border-color: #aaab9c #fff #fff #ccc;
}

.bookmark_link {
    padding: 3px;
    display: inline-block;
    background-color: #ccc;
    color: black;
}

#active.bookmark_link {
    font-weight: 900;
    font-size: 1.3em;
}

div#content_box{
    position: relative;
    height: auto;
}

div#lewe_skrzydlo{
    position: absolute;
    text-align: right;
    width: 25%;
}

div#prawe_skrzydlo{
    position: absolute;
    text-align: left;
    left: 75%;
    width: 25%;
}

div#content_ramka{
    position: relative;
    left: 25%;
    width: 50%;
	/* background-color: #E6F5FF; */
}
div#content{
    position: relative;
	/* background-color: #E6F5FF; */
}

div#stopka{
    position: relative;
    left: 25%;
    width: 50%;
    color: gray;
    font-size: 80%;
}

