{% extends "base.html" %}
{% block content %}
<center>
    {% for post in posts %}
    <div id="post">
        <font size=5>{{ post.title }}</font>
        <font size=2><i>{{ post.timestamp | date:"j-m-Y" }}</i></font>
        <hr width=300>
        {{ post.body }}
        <br><br>
    </div>
    <br>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

</center>
{% endblock %}
