{% load staticfiles %}
{% load my_tags %}

<html>
<head>
<link rel="stylesheet" href="{% static 'style.css'  %}" type="text/css">
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
</head>
<body>
<div id="banner"></div>
<div id="reszta">
    <br>
    <div id="welcome_header">
        {% if user.is_authenticated %}
        <h3>Welcome,  {{ user.username }}! <a href="{% url 'auth_logout' %}">(Log Out)</a></h3>
        {% if user.is_superuser %}
        <b>ADMINISTRATOR ACCOUNT</b>
        {% endif %}
        {% else %}
        <h3>Not logged in. <a href="{% url 'auth_login' %}">(Log in)</a></h3>
        {% endif %}
    </div>

    <noscript>
        <center>
            <font size="4"style="background-color:yellow" color="red">
                This site relies on javascript.
                Please enable it to access all its content.
            </font>
        </center>
    </noscript>

    <br>
    <div id="content_box">
        <div id="lewe_skrzydlo">
            <div id="menu" class="test">
                <ul id="menu_lista">
                    <li><a href='{% url 'archive' %}'><b>NEWS</b></a></li>
                    <li><a href='{% url 'item_table' %}'><b>ITEMS</b></a></li>
                    <li><a href={% selected_page user.id %}><b>BOOKMARKS</b></a></li>
                    {% if user.is_authenticated %}
                    <li><a href='{% url 'auth_password_change' %}'><b>CHANGE YOUR PASSWORD</b></a></li>
                    {% else %}
                    <li><a href='{% url 'registration_register' %}'><b>REGISTER</b></a></li>
                    <li><a href='{% url 'auth_login' %}'><b>LOG IN</b></a></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li><a href='/admin/'><b>ADMINISTRATION PANEL</b></a></li>
                    <li><a href='{% url 'database_tools' %}'><b>DATABASE TOOLS</b></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="prawe_skrzydlo">
        </div>

        <div id="content_ramka">
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div id="stopka">
    <br><br><br><br><br><br>
    <center>© Jakub Ligęza, {% now "Y" %}</center>
</div>
</body
</html>
