{% extends "base.html" %}
{% load staticfiles %}
{% load my_tags %}
{% block title %} Bookmarks {% endblock %}
{% block content %}

<script src="{% static 'scripts/bookmarks.js' %}"></script>

<center>
    {% if not user.is_authenticated %}
    <a href="{% url 'auth_login' %}">You are not logged in</a>
    {% else %}
    <br>
    <div id="hidden_menu" hidden>
        <font id="hidden_regex_tip" style="background-color:#ff0;color:red" hidden>
            Allowed up to 15 characters: A-Z, numbers, underscore.
        </font>
        <br>
        <input id="new_page_name_input">
        <button onclick="create_new_bookmark_page( $('#new_page_name_input').val() )">Add new page</button>
    </div>
    <span class="bg">Select bookmark page (<u id="show_hidden_menu">add new page</u>):</span><br>
    <div id="bookmark_list">{% bookmark_list bookmark_pages %}</div>
    <br>
    <input id="item_search_input">
    <button id="search_items">Search items</button>
    <br><font hidden id="ajax_download_info"></font><br>
    <div hidden id="received_items"></div>

    {% if items_to_insert %}
    <ol id="received_items">
        {% for item in items_to_insert %}
        <li>{{ item }}</li>
        {% endfor %}
    </ol>
    {% endif %}
    {% endif %}

    {% if quantity == 0 %}
    <br>
    <br>
    {% item_list items "bookmarked_items" %} 
    <div id="no_items_recorded_text">No items recorded. You can add the observed items.</div>
    {% else %}
    <br>
    {% item_list items "bookmarked_items" %} 
{% endif %}
</center>
{% endblock %}
