{% extends "base.html" %}
{% block content %}
<center>
<font size="6">Database Tools</font>
<br>
Warning! These things should be done automatically by crontab - use only if you know what you are doing!
<form action="#" method="get">{% csrf_token %}
    <input type="submit" class="btn" 
    value="Get all items, without prices [30-80 seconds]" name="get_items">
    <br>
    <br>
    <input type="submit" class="btn" 
        value="Download the prices of all items (requires list of items in database) [60-90 seconds]" name="get_items_prices">
</form>
</center>

{% endblock %}
