{% extends "base.html" %}
{% block content %}

<script src="http://www.google.com/jsapi"></script>
<script src="/static/scripts/chartkick.js"></script>

<center>
{% load my_tags %}
{% load chartkick %}
{% line_chart line_data %}
<font size=2><i>From: <b>{{ date_from }}</b> to <b>{{ date_to }}</b>.</i></font>
{% item_list item %}
</center>
{% endblock %}
