{% extends "base.html" %}
{% block content %}
{% load my_tags %}
<script src="/static/scripts/item_table.js"></script>
<center>

<div id="ajax_item_input"></div>

<div id="ajax_download_info"></div>

{# START NO JAVASCRIPT ZONE #}
<noscript>
    <form action="#" method="get">{% csrf_token %}
        <input type="text" name="search_items" size="40"> 
        <input type="submit" value="Search Items">
    </form>

    {% if searching == True %}
        {% if display_quantity > 0 %}
            <br>
            <i>{{ display_quantity }} from {{ match_quantity }} matches selected:</i>
            <br>
        {% else %}
            No such items in database.
        {% endif %}
    {% endif %}
</noscript>
{# END NO JAVASCRIPT ZONE #}

<div id="item_table_div">
    {% item_list items %}
</div>

</center>
{% endblock %}
